In [3]:
import warnings
import pandas as pd


pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings('ignore')

In [26]:
df_calendar = pd.read_csv('csv/Calendar.csv', parse_dates=['Date'])

df_orders = pd.read_csv('csv/Orders.csv',parse_dates=['Day'])

df_orders.rename(columns={'Day':'Date'},inplace=True)

df_orders_calendar = pd.merge(df_orders,df_calendar, on='Date', how='left')

df_orders_calendar_grouped = df_orders_calendar.groupby(['Fiscal Week Year'])['Total Units'].sum().reset_index()

In [27]:
df_orders_calendar_grouped.head()

  Fiscal Week Year  Total Units
0         2023-W27        62581
1         2023-W28       325556
2         2023-W29       313866
3         2023-W30       299899
4         2023-W31       350315

In [28]:
folder_path = r'C:\Users\Rafael_Fagundes\Downloads\compiled_data_v2.csv'

df_delve = pd.read_csv(folder_path)

df_delve_grouped = df_delve[df_delve['Country'] == 'United States'].groupby(['Fiscal Week Year','Display Dell Vehicle Mapped'])['Spend'].sum().reset_index()

df_delve_grouped_pivoted = df_delve_grouped.pivot(index='Fiscal Week Year', columns='Display Dell Vehicle Mapped')['Spend'].reset_index()

df_final = pd.merge(df_delve_grouped_pivoted, df_orders_calendar_grouped, on='Fiscal Week Year', how='left')

df_final.fillna(0,inplace=True)

In [44]:
df_final.head()

,Fiscal Week Year,AFF,Audio,CTV,Display,Display Dco,Display Mobile,Lead Generation,Other,Social,Video,Total Units
0,2023-W27,0.0,73528.138754,346611.925190,1.064101e+06,116262.029347,162098.451258,0.0,0.0,433881.847459,452002.756407,62581
1,2023-W28,0.0,62211.075650,305617.545582,1.340626e+06,130602.282366,171990.484766,0.0,0.0,520465.223067,518545.560840,325556
2,2023-W29,0.0,50117.410436,315224.194552,1.248164e+06,118925.513520,141186.996201,0.0,0.0,518445.351140,515644.942588,313866
3,2023-W30,0.0,52965.070982,313179.574364,1.331234e+06,124470.209885,168560.644274,0.0,0.0,547714.302200,498873.800047,299899
4,2023-W31,0.0,49733.417871,308688.400082,1.198177e+06,157678.316772,207610.288118,0.0,0.0,672784.882417,506699.809701,350315

In [46]:
df_final.to_csv('csv/dataset.csv',index_label=False)